***
# 1- Get the Data
***

In [ ]:
pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 13.3 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

## **Getting The Data**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df_train = pd.read_csv("/content/drive/MyDrive/covid data/train.csv")
df_train.head()

,id,id_seqpos,sequence,structure,predicted_loop_type,reactivity,reactivity_error,deg_Mg_pH10,deg_error_Mg_pH10,deg_pH10,...,b4_structure,a4_structure,b4_predicted_loop_type,a4_predicted_loop_type,b5_sequence,a5_sequence,b5_structure,a5_structure,b5_predicted_loop_type,a5_predicted_loop_type
0,id_159f0ff46,id_159f0ff46_44,A,.,H,1.7786,0.1195,0.7346,0.0790,0.3680,...,(,),S,S,C,A,.,),I,S
1,id_d73546f4e,id_d73546f4e_38,G,.,I,0.4397,0.1033,0.1630,0.0799,0.0878,...,(,.,S,H,C,C,.,.,B,H
2,id_f3037fedf,id_f3037fedf_34,G,(,S,0.1120,0.1375,0.0000,0.0744,0.1835,...,(,(,S,S,A,G,(,(,S,S
3,id_468300749,id_468300749_12,G,(,S,0.0622,0.0471,0.1179,0.1075,0.0657,...,.,(,E,S,A,U,.,(,E,S
4,id_69e3878a2,id_69e3878a2_28,U,(,S,0.1378,0.1352,0.4069,0.2168,0.3375,...,(,(,S,S,G,G,(,.,S,H

In [ ]:
df_train2 = pd.read_csv("/content/drive/MyDrive/covid data/train.csv")

In [ ]:
target=df_train[['reactivity','deg_Mg_pH10','deg_Mg_50C']]
df_train.drop(['reactivity','deg_Mg_pH10','deg_Mg_50C'],inplace=True,axis=1)

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/covid data/test.csv")
test.head()

,id,id_seqpos,sequence,structure,predicted_loop_type,reactivity_error,deg_error_Mg_pH10,deg_pH10,deg_error_pH10,deg_error_Mg_50C,...,b4_structure,a4_structure,b4_predicted_loop_type,a4_predicted_loop_type,b5_sequence,a5_sequence,b5_structure,a5_structure,b5_predicted_loop_type,a5_predicted_loop_type
0,id_001f94081,id_001f94081_0,G,.,E,0.1359,0.2613,2.3375,0.2631,0.1501,...,-1,.,-1,E,-1,A,-1,(,-1,S
1,id_001f94081,id_001f94081_4,A,.,E,0.1314,0.1798,0.2635,0.1000,0.1369,...,.,(,E,S,-1,C,-1,(,-1,S
2,id_001f94081,id_001f94081_8,U,(,S,0.0756,0.1056,0.0530,0.0517,0.0705,...,.,.,E,H,A,U,.,.,E,H
3,id_001f94081,id_001f94081_9,C,(,S,0.1087,0.1896,0.5348,0.1474,0.1588,...,(,.,S,H,A,A,.,.,E,H
4,id_001f94081,id_001f94081_13,U,.,H,0.1388,0.1810,0.7699,0.1417,0.1382,...,(,.,S,H,U,G,(,),S,S

In [ ]:
df_traiin = pd.read_csv("/content/drive/MyDrive/covid data/train.csv")

***
# 2- Data Discovery
***

## A- Data discovery

### **Train data**

In [ ]:
df_train.shape

(130560, 42)

In [ ]:
df_train.head()

,id,id_seqpos,sequence,structure,predicted_loop_type,reactivity_error,deg_error_Mg_pH10,deg_pH10,deg_error_pH10,deg_error_Mg_50C,...,b4_structure,a4_structure,b4_predicted_loop_type,a4_predicted_loop_type,b5_sequence,a5_sequence,b5_structure,a5_structure,b5_predicted_loop_type,a5_predicted_loop_type
0,id_159f0ff46,id_159f0ff46_44,A,.,H,0.1195,0.0790,0.3680,0.0851,0.0792,...,(,),S,S,C,A,.,),I,S
1,id_d73546f4e,id_d73546f4e_38,G,.,I,0.1033,0.0799,0.0878,0.0878,0.0683,...,(,.,S,H,C,C,.,.,B,H
2,id_f3037fedf,id_f3037fedf_34,G,(,S,0.1375,0.0744,0.1835,0.1969,0.1163,...,(,(,S,S,A,G,(,(,S,S
3,id_468300749,id_468300749_12,G,(,S,0.0471,0.1075,0.0657,0.0615,0.0506,...,.,(,E,S,A,U,.,(,E,S
4,id_69e3878a2,id_69e3878a2_28,U,(,S,0.1352,0.2168,0.3375,0.2623,0.1569,...,(,(,S,S,G,G,(,.,S,H

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130560 entries, 0 to 130559
Data columns (total 42 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      130560 non-null  object
 1   id_seqpos               130560 non-null  object
 2   sequence                130560 non-null  object
 3   structure               130560 non-null  object
 4   predicted_loop_type     130560 non-null  object
 5   reactivity_error        130560 non-null  float64
 6   deg_error_Mg_pH10       130560 non-null  float64
 7   deg_pH10                130560 non-null  float64
 8   deg_error_pH10          130560 non-null  float64
 9   deg_error_Mg_50C        130560 non-null  float64
 10  deg_50C                 130560 non-null  float64
 11  deg_error_50C           130560 non-null  float64
 12  b1_sequence             130560 non-null  object
 13  a1_sequence             130560 non-null  object
 14  b1_structure            130560 non-null  object
 15  a1_structure            130560 non-null  object
 16  b1_predicted_loop_type  130560 non-null  object
 17  a1_predicted_loop_type  130560 non-null  object
 18  b2_sequence             130560 non-null  object
 19  a2_sequence             130560 non-null  object
 20  b2_structure            130560 non-null  object
 21  a2_structure            130560 non-null  object
 22  b2_predicted_loop_type  130560 non-null  object
 23  a2_predicted_loop_type  130560 non-null  object
 24  b3_sequence             130560 non-null  object
 25  a3_sequence             130560 non-null  object
 26  b3_structure            130560 non-null  object
 27  a3_structure            130560 non-null  object
 28  b3_predicted_loop_type  130560 non-null  object
 29  a3_predicted_loop_type  130560 non-null  object
 30  b4_sequence             130560 non-null  object
 31  a4_sequence             130560 non-null  object
 32  b4_structure            130560 non-null  object
 33  a4_structure            130560 non-null  object
 34  b4_predicted_loop_type  130560 non-null  object
 35  a4_predicted_loop_type  130560 non-null  object
 36  b5_sequence             130560 non-null  object
 37  a5_sequence             130560 non-null  object
 38  b5_structure            130560 non-null  object
 39  a5_structure            130560 non-null  object
 40  b5_predicted_loop_type  130560 non-null  object
 41  a5_predicted_loop_type  130560 non-null  object
dtypes: float64(7), object(35)
memory usage: 41.8+ MB

In [ ]:
cat_col=df_train.select_dtypes("object").columns
for col in df_train.select_dtypes("object").columns:
  print(df_train[col].value_counts())

id_c03e77453    63
id_fe7a65da5    63
id_63716e3b8    63
id_073e10df7    63
id_29023b870    63
                ..
id_4a142b968    44
id_467ef420b    44
id_34cc201fc    43
id_26843a332    43
id_1abf939e4    42
Name: id, Length: 2400, dtype: int64
id_159f0ff46_44    1
id_d51add379_45    1
id_58bc6c0f5_35    1
id_062b07da4_43    1
id_27b6f1695_57    1
                  ..
id_b44e52939_17    1
id_5efb0eab1_66    1
id_4d369813f_59    1
id_65f125c03_53    1
id_5b9c7041f_51    1
Name: id_seqpos, Length: 130560, dtype: int64
A    47922
G    34975
C    24678
U    22985
Name: sequence, dtype: int64
.    66648
(    31956
)    31956
Name: structure, dtype: int64
S    63912
E    28225
H    15240
I     9729
X     6372
M     4651
B     2431
Name: predicted_loop_type, dtype: int64
A     46512
G     34784
C     24290
U     23070
-1     1904
Name: b1_sequence, dtype: int64
A    47936
G    34035
C    25398
U    23191
Name: a1_sequence, dtype: int64
.     65243
(     31948
)     31465
-1     1904
Name: b1_structure, dtype: int64
.    64786
(    33869
)    31905
Name: a1_structure, dtype: int64
S     63413
E     28019
H     15195
I      9760
X      5425
M      4398
B      2446
-1     1904
Name: b1_predicted_loop_type, dtype: int64
S    65774
E    26316
H    15262
I     9776
X     6373
M     4626
B     2433
Name: a1_predicted_loop_type, dtype: int64
A     45864
G     34303
C     23960
U     22630
-1     3803
Name: b2_sequence, dtype: int64
A    48386
G    32792
C    25875
U    23507
Name: a2_sequence, dtype: int64
.     64170
(     31928
)     30659
-1     3803
Name: b2_structure, dtype: int64
.    62832
(    35837
)    31891
Name: a2_structure, dtype: int64
S     62587
E     27845
H     15241
I      9703
X      4737
M      4200
-1     3803
B      2444
Name: b2_predicted_loop_type, dtype: int64
S    67728
E    24375
H    15242
I     9736
X     6375
M     4642
B     2462
Name: a2_predicted_loop_type, dtype: int64
A     45149
G     33817
C     23535
U     22314
-1     5745
Name: b3_sequence, dtype: int64
A    46784
G    33192
C    26289
U    24295
Name: a3_sequence, dtype: int64
.     63274
(     31861
)     29680
-1     5745
Name: b3_structure, dtype: int64
.    60889
(    37767
)    31904
Name: a3_structure, dtype: int64
S     61541
E     27591
H     15282
I      9670
-1     5745
X      4232
M      4047
B      2452
Name: b3_predicted_loop_type, dtype: int64
S    69671
E    22440
H    15267
I     9738
X     6360
M     4607
B     2477
Name: a3_predicted_loop_type, dtype: int64
A     44497
G     33454
C     23005
U     21940
-1     7664
Name: b4_sequence, dtype: int64
A    45466
G    33731
C    26729
U    24634
Name: a4_sequence, dtype: int64
.     62490
(     31909
)     28497
-1     7664
Name: b4_structure, dtype: int64
.    58929
(    39635
)    31996
Name: a4_structure, dtype: int64
S     60406
E     27364
H     15262
I      9601
-1     7664
M      3944
X      3857
B      2462
Name: b4_predicted_loop_type, dtype: int64
S    71631
E    20539
H    15207
I     9701
X     6413
M     4605
B     2464
Name: a4_predicted_loop_type, dtype: int64
A     43968
G     32801
C     22518
U     21690
-1     9583
Name: b5_sequence, dtype: int64
A    43790
G    34413
C    27159
U    25198
Name: a5_sequence, dtype: int64
.     61603
(     32009
)     27365
-1     9583
Name: b5_structure, dtype: int64
.    57026
(    41569
)    31965
Name: a5_structure, dtype: int64
S     59374
E     27132
H     15190
-1     9583
I      9451
M      3863
X      3585
B      2382
Name: b5_predicted_loop_type, dtype: int64
S    73534
E    18612
H    15199
I     9761
X     6394
M     4592
B     2468
Name: a5_predicted_loop_type, dtype: int64

In [ ]:
id_test= test.id_seqpos
df_train.drop(['id', 'id_seqpos'],axis=1,inplace=True)
test.drop(['id', 'id_seqpos'],axis=1,inplace=True)

cat_data=df_train.select_dtypes("object")
Num_data=df_train.select_dtypes(exclude="object")

### **Test data**

In [ ]:
test.shape

(32640, 40)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32640 entries, 0 to 32639
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sequence                32640 non-null  object
 1   structure               32640 non-null  object
 2   predicted_loop_type     32640 non-null  object
 3   reactivity_error        32640 non-null  float64
 4   deg_error_Mg_pH10       32640 non-null  float64
 5   deg_pH10                32640 non-null  float64
 6   deg_error_pH10          32640 non-null  float64
 7   deg_error_Mg_50C        32640 non-null  float64
 8   deg_50C                 32640 non-null  float64
 9   deg_error_50C           32640 non-null  float64
 10  b1_sequence             32640 non-null  object
 11  a1_sequence             32640 non-null  object
 12  b1_structure            32640 non-null  object
 13  a1_structure            32640 non-null  object
 14  b1_predicted_loop_type  32640 non-null  object
 15  a1_predicted_loop_type  32640 non-null  object
 16  b2_sequence             32640 non-null  object
 17  a2_sequence             32640 non-null  object
 18  b2_structure            32640 non-null  object
 19  a2_structure            32640 non-null  object
 20  b2_predicted_loop_type  32640 non-null  object
 21  a2_predicted_loop_type  32640 non-null  object
 22  b3_sequence             32640 non-null  object
 23  a3_sequence             32640 non-null  object
 24  b3_structure            32640 non-null  object
 25  a3_structure            32640 non-null  object
 26  b3_predicted_loop_type  32640 non-null  object
 27  a3_predicted_loop_type  32640 non-null  object
 28  b4_sequence             32640 non-null  object
 29  a4_sequence             32640 non-null  object
 30  b4_structure            32640 non-null  object
 31  a4_structure            32640 non-null  object
 32  b4_predicted_loop_type  32640 non-null  object
 33  a4_predicted_loop_type  32640 non-null  object
 34  b5_sequence             32640 non-null  object
 35  a5_sequence             32640 non-null  object
 36  b5_structure            32640 non-null  object
 37  a5_structure            32640 non-null  object
 38  b5_predicted_loop_type  32640 non-null  object
 39  a5_predicted_loop_type  32640 non-null  object
dtypes: float64(7), object(33)
memory usage: 10.0+ MB

In [ ]:
cat_col=test.select_dtypes("object").columns
for col in test.select_dtypes("object").columns:
  print(test[col].value_counts())

A    11773
G     8877
C     6230
U     5760
Name: sequence, dtype: int64
.    16619
(     8026
)     7995
Name: structure, dtype: int64
S    16021
E     7007
H     3792
I     2456
X     1587
M     1141
B      636
Name: predicted_loop_type, dtype: int64
A     11829
G      8654
C      6008
U      5653
-1      496
Name: b1_sequence, dtype: int64
A    12027
G     8548
C     6366
U     5699
Name: a1_sequence, dtype: int64
.     16269
(      8033
)      7842
-1      496
Name: b1_structure, dtype: int64
.    16083
(     8509
)     8048
Name: a1_structure, dtype: int64
S     15875
E      6935
H      3837
I      2425
X      1362
M      1089
B       621
-1      496
Name: b1_predicted_loop_type, dtype: int64
S    16557
E     6518
H     3770
I     2409
X     1586
M     1166
B      634
Name: a1_predicted_loop_type, dtype: int64
A     11393
G      8642
C      5900
U      5708
-1      997
Name: b2_sequence, dtype: int64
A    12056
G     8093
C     6508
U     5983
Name: a2_sequence, dtype: int64
.     15975
(      8053
)      7615
-1      997
Name: b2_structure, dtype: int64
.    15639
(     8937
)     8064
Name: a2_structure, dtype: int64
S     15668
E      6831
H      3791
I      2463
X      1200
M      1067
-1      997
B       623
Name: b2_predicted_loop_type, dtype: int64
S    17001
E     6061
H     3790
I     2449
X     1584
M     1150
B      605
Name: a2_predicted_loop_type, dtype: int64
A     11226
G      8513
C      5856
U      5590
-1     1455
Name: b3_sequence, dtype: int64
A    11776
G     8339
C     6574
U     5951
Name: a3_sequence, dtype: int64
.     15689
(      8120
)      7376
-1     1455
Name: b3_structure, dtype: int64
.    15183
(     9404
)     8053
Name: a3_structure, dtype: int64
S     15496
E      6807
H      3731
I      2431
-1     1455
X      1071
M      1040
B       609
Name: b3_predicted_loop_type, dtype: int64
S    17457
E     5598
H     3765
I     2446
X     1599
M     1185
B      590
Name: a3_predicted_loop_type, dtype: int64
A     11112
G      8305
C      5771
U      5516
-1     1936
Name: b4_sequence, dtype: int64
A    11228
G     8480
C     6714
U     6218
Name: a4_sequence, dtype: int64
.     15409
(      8072
)      7223
-1     1936
Name: b4_structure, dtype: int64
.    14746
(     9932
)     7962
Name: a4_structure, dtype: int64
S     15295
E      6756
H      3717
I      2362
-1     1936
M      1019
X       975
B       580
Name: b4_predicted_loop_type, dtype: int64
S    17894
E     5101
H     3825
I     2484
X     1546
M     1187
B      603
Name: a4_predicted_loop_type, dtype: int64
A     10925
G      8197
C      5764
U      5337
-1     2417
Name: b5_sequence, dtype: int64
A    11018
G     8522
C     6770
U     6330
Name: a5_sequence, dtype: int64
.     15358
(      7972
)      6893
-1     2417
Name: b5_structure, dtype: int64
.    14254
(    10392
)     7994
Name: a5_structure, dtype: int64
S     14865
E      6710
H      3728
-1     2417
I      2389
M      1000
X       895
B       636
Name: b5_predicted_loop_type, dtype: int64
S    18386
E     4633
H     3833
I     2424
X     1565
M     1200
B      599
Name: a5_predicted_loop_type, dtype: int64

In [ ]:
cat_test=test.select_dtypes("object")
Num_test=test.select_dtypes(exclude="object")

***
# 3- Prepare the data
***

##  Feature Engineering & Encoding

### Feature Extraction

In [ ]:
df_traiin.head()

,id,id_seqpos,sequence,structure,predicted_loop_type,reactivity,reactivity_error,deg_Mg_pH10,deg_error_Mg_pH10,deg_pH10,...,b4_structure,a4_structure,b4_predicted_loop_type,a4_predicted_loop_type,b5_sequence,a5_sequence,b5_structure,a5_structure,b5_predicted_loop_type,a5_predicted_loop_type
0,id_159f0ff46,id_159f0ff46_44,A,.,H,1.7786,0.1195,0.7346,0.0790,0.3680,...,(,),S,S,C,A,.,),I,S
1,id_d73546f4e,id_d73546f4e_38,G,.,I,0.4397,0.1033,0.1630,0.0799,0.0878,...,(,.,S,H,C,C,.,.,B,H
2,id_f3037fedf,id_f3037fedf_34,G,(,S,0.1120,0.1375,0.0000,0.0744,0.1835,...,(,(,S,S,A,G,(,(,S,S
3,id_468300749,id_468300749_12,G,(,S,0.0622,0.0471,0.1179,0.1075,0.0657,...,.,(,E,S,A,U,.,(,E,S
4,id_69e3878a2,id_69e3878a2_28,U,(,S,0.1378,0.1352,0.4069,0.2168,0.3375,...,(,(,S,S,G,G,(,.,S,H

In [ ]:
df_traiin[['predicted_loop_type_a','predicted_loop_type_b','sequence_a','sequence_b','structure_a','structure_b']]=0

for i in range(len(df_traiin)):

  df_traiin['predicted_loop_type_a'][i]=f"{df_traiin['a1_predicted_loop_type'][i]}{df_traiin['a2_predicted_loop_type'][i]}{df_traiin['a3_predicted_loop_type'][i]}{df_traiin['a4_predicted_loop_type'][i]}{df_traiin['a5_predicted_loop_type'][i]}"
  df_traiin['predicted_loop_type_b'][i]=f"{df_traiin['b1_predicted_loop_type'][i]}{df_traiin['b2_predicted_loop_type'][i]}{df_traiin['b3_predicted_loop_type'][i]}{df_traiin['b4_predicted_loop_type'][i]}{df_traiin['b5_predicted_loop_type'][i]}"
  df_traiin['sequence_a'][i]=f"{df_traiin['a1_sequence'][i]}{df_traiin['a2_sequence'][i]}{df_traiin['a3_sequence'][i]}{df_traiin['a4_sequence'][i]}{df_traiin['a5_sequence'][i]}"
  df_traiin['sequence_b'][i]=f"{df_traiin['b1_sequence'][i]}{df_traiin['b2_sequence'][i]}{df_traiin['b3_sequence'][i]}{df_traiin['b4_sequence'][i]}{df_traiin['b5_sequence'][i]}"
  df_traiin['structure_a'][i]=f"{df_traiin['a1_structure'][i]}{df_traiin['a2_structure'][i]}{df_traiin['a3_structure'][i]}{df_traiin['a4_structure'][i]}{df_traiin['a5_structure'][i]}"
  df_traiin['structure_b'][i]=f"{df_traiin['b1_structure'][i]}{df_traiin['b2_structure'][i]}{df_traiin['b3_structure'][i]}{df_traiin['b4_structure'][i]}{df_traiin['b5_structure'][i]}"

df_traiin.drop(['a1_predicted_loop_type','a2_predicted_loop_type','a3_predicted_loop_type','a4_predicted_loop_type','a5_predicted_loop_type',
               'b1_predicted_loop_type','b2_predicted_loop_type','b3_predicted_loop_type','b4_predicted_loop_type','b5_predicted_loop_type',
               'a1_sequence','a2_sequence','a3_sequence','a4_sequence','a5_sequence',
               'b1_sequence','b2_sequence','b3_sequence','b4_sequence','b5_sequence',
               'a1_structure','a2_structure','a3_structure','a4_structure','a5_structure',
               'b1_structure','b2_structure','b3_structure','b4_structure','b5_structure'],inplace=True,axis=1)
sequence_b_counts=[]
for i in df_traiin['sequence_b'] :
  sequence_b_counts.append(len(i))
sequence_a_counts=[]
for i in df_traiin['sequence_a'] :
  sequence_a_counts.append(len(i))

predicted_loop_type_a_counts=[]
for i in df_traiin['predicted_loop_type_a'] :
  predicted_loop_type_a_counts.append(len(i))
predicted_loop_type_b_counts=[]
for i in df_traiin['predicted_loop_type_b'] :
  predicted_loop_type_b_counts.append(len(i))

structure_a_counts=[]
for i in df_traiin['structure_a'] :
  structure_a_counts.append(len(i))
structure_b_counts=[]
for i in df_traiin['structure_b'] :
  structure_b_counts.append(len(i))

df_traiin['sequence_a_counts']=sequence_a_counts
df_traiin['sequence_b_counts']=sequence_b_counts
df_traiin['predicted_loop_type_a_counts']=predicted_loop_type_a_counts
df_traiin['predicted_loop_type_b_counts']=predicted_loop_type_b_counts
df_traiin['structure_a_counts']=structure_a_counts
df_traiin['structure_b_counts']=structure_b_counts
df_traiin.drop(['predicted_loop_type_a',	'predicted_loop_type_b'	,'sequence_a',	'sequence_b',	'structure_a'	,'structure_b'],inplace=True,axis=1)

### Encoding

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
cat_data
OE = cat_data.columns
dic = {'A':0, 'G': 1, 'U': 2, 'C': 3,
       '.': 1, '(': 2, ')':3,
       'B':0, 'E': 1, 'H': 2, 'I': 3, 'M': 4, 'S': 5, 'X': 6,'-1':0}
df_train[OE] = df_train[OE].replace(dic)
test[OE] = test[OE].replace(dic)

# 4- Split data &  model Selection

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
import math
import lightgbm as ltb
import catboost as ctb
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.multioutput import RegressorChain
from sklearn.tree import DecisionTreeRegressor
from sklearn import linear_model

In [ ]:
target1=target['reactivity']
target2=target['deg_Mg_pH10']
target3=target['deg_Mg_50C']

In [ ]:
# In this Section we tried many models also we used - MultiOutputRegressor & RegressorChain , But in the last model we work on each target Indivisually

## **Target1**

In [ ]:
# Split Data
x_train,x_test,y_train, y_test = train_test_split(df_train,target1, test_size=0.25, random_state=94)

### **modeling**

In [ ]:
model=GradientBoostingRegressor(learning_rate=0.302, n_estimators=500,criterion='squared_error',min_samples_leaf=5,max_depth=4)
GB_model =model.fit(x_train,y_train)

In [ ]:
pred= GB_model.predict(x_test) # random_state= 94 - lr= 0.302 -  ns= 500 -  squared_error  - min_samples_leaf= 5 - max_depth=4
np.sqrt(mean_squared_error(pred, y_test))

0.32691566100089237

In [ ]:
predection1=GB_model.predict(test)

## **Target2**

In [ ]:
# Split Data
x_train,x_test,y_train, y_test = train_test_split(df_train,target2, test_size=0.25, random_state=5362)

### **modeling**

In [ ]:
model2=GradientBoostingRegressor(learning_rate=0.357,n_estimators=800,min_samples_leaf=7)
GB_model =model2.fit(x_train,y_train)

In [ ]:
pred= GB_model.predict(x_test)
np.sqrt(mean_squared_error(pred, y_test))

0.3435765047718533

In [ ]:
predection2= GB_model.predict(test)

## **Target3**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test = train_test_split(df_train,target3, test_size=0.25, random_state=64)

### **modeling**

In [ ]:
model3=GradientBoostingRegressor(learning_rate=0.353,n_estimators=360)
GB_model =model3.fit(x_train,y_train)

In [ ]:
pred= GB_model.predict(x_test) # 64  , lr= 0.353  - ns=  360
np.sqrt(mean_squared_error(pred, y_test))

0.3505461879602342

In [ ]:
prediction3= GB_model.predict(test)

# 5-Test data Section

In [ ]:
sample = pd.read_csv("/content/drive/MyDrive/covid data/sample_submission.csv")
sample

In [ ]:
final_pred = pd.DataFrame()
final_pred["id_seqpos"] = id_test
final_pred["reactivity"] = predection1
final_pred["deg_Mg_pH10"] = predection2
final_pred["deg_Mg_50C"] = prediction3

In [ ]:
final_pred

             id_seqpos  reactivity  deg_Mg_pH10  deg_Mg_50C
0       id_001f94081_0    0.600335     0.765636    0.595602
1       id_001f94081_4    0.777203     0.481959    0.722581
2       id_001f94081_8    0.207125     0.150633    0.176033
3       id_001f94081_9    0.265641     0.836584    0.857971
4      id_001f94081_13    1.122905     1.238754    1.027938
...                ...         ...          ...         ...
32635  id_fff546103_39    0.006349     0.062645    0.052375
32636  id_fff546103_52    0.050321     0.198212    0.126656
32637  id_fff546103_62    0.495568     0.588654    0.496201
32638  id_fff546103_65    0.042437     0.188027    0.195378
32639  id_fff546103_66   -0.004791     0.201439    0.184312

[32640 rows x 4 columns]

In [ ]:
final_pred.to_csv('submission.csv', index=False)

# Finally! 😎